<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xunyu.model.user.User">

    <insert id = "addCustomerUseraccount" parameterType="com.xunyu.crm.pojo.customer.CustomerUseraccount"
            useGeneratedKeys="true" keyColumn="serial_number_id" keyProperty="serialNumberId">

        insert into tbl_customer_useraccount
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="serialNumberId != null">serial_number_id,</if>
            <if test='customerId != null'>customer_id,</if>
            <if test='userId != null'>user_id,</if>
            <if test='accountType != null'>account_type,</if>
        </trim>
        VALUES
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="serialNumberId != null">#{serialNumberId},</if>
            <if test='customerId != null'>#{customerId},</if>
            <if test='userId != null'>#{userId},</if>
            <if test='accountType != null'>#{accountType},</if>
        </trim>
    </insert>

    <insert id = "addUser" parameterType="com.xunyu.model.user.User"
            useGeneratedKeys="true" keyColumn="user_id" keyProperty="userId">
        insert into tbl_users
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userId != null">user_id,</if>
            <if test='account != null and account != ""'>account,</if>
            <if test='passWord != null and passWord != ""'>password,</if>
            <if test='userType != null and userType != ""'>user_type,</if>
            <if test='isabled != null and isabled != ""'>isabled,</if>
            <if test='userCreateTime != null'>create_time,</if>
        </trim>
        VALUES
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userId != null">#{userId},</if>
            <if test='account != null and account != ""'>#{account},</if>
            <if test='passWord != null and passWord != ""'>#{passWord},</if>
            <if test='userType != null and userType != ""'>#{userType},</if>
            <if test='isabled != null and isabled != ""'>#{isabled},</if>
            <if test='userCreateTime != null'>#{userCreateTime},</if>
        </trim>
    </insert>

    <update id="updateUser" parameterType="com.xunyu.model.user.User">
        update tbl_users
        <set>
            <if test='account != null and account != ""'>
                <![CDATA[	account = #{account}, ]]>
            </if>
            <if test='passWord != null and passWord != ""'>
                <![CDATA[	password = #{passWord}, ]]>
            </if>
            <if test='userType != null and userType != ""'>
                <![CDATA[	user_type = #{userType}, ]]>
            </if>
            <if test='isabled != null and isabled != ""'>
                <![CDATA[	isabled = #{isabled}, ]]>
            </if>
            <if test='userCreateTime != null'>
                <![CDATA[	create_time = #{userCreateTime}, ]]>
            </if>
        </set>
        <where>
            <if test="userId != null">
                user_id = #{userId}
            </if>
            <if test = 'account != null and account != ""'>
                account = #{account}
            </if>
        </where>
    </update>
</mapper>