<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xunyu.xunyu_tactics.pojo.SysWhitelist">
  <resultMap id="BaseResultMap" type="com.xunyu.xunyu_tactics.pojo.SysWhitelist">
    <id column="sys_whitelist_id" jdbcType="INTEGER" property="sysWhitelistId" />
    <result column="phone_number" jdbcType="VARCHAR" property="phoneNumber" />
    <result column="join_time" jdbcType="TIMESTAMP" property="joinTime" />
    <result column="isabled" jdbcType="INTEGER" property="isabled" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    sys_whitelist_id, phone_number, join_time, isabled
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tbl_sys_whitelist
    where sys_whitelist_id = #{sysWhitelistId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from tbl_sys_whitelist
    where sys_whitelist_id = #{sysWhitelistId,jdbcType=INTEGER}
  </delete>

  <insert id="insert" parameterType="com.xunyu.xunyu_tactics.pojo.SysWhitelist">
    insert into tbl_sys_whitelist (sys_whitelist_id, phone_number, join_time, 
      isabled)
    values (#{sysWhitelistId,jdbcType=INTEGER}, #{phoneNumber,jdbcType=VARCHAR}, #{joinTime,jdbcType=TIMESTAMP}, 
      #{isabled,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.xunyu.xunyu_tactics.pojo.SysWhitelist">
    insert into tbl_sys_whitelist
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="sysWhitelistId != null">
        sys_whitelist_id,
      </if>
      <if test="phoneNumber != null">
        phone_number,
      </if>
      <if test="joinTime != null">
        join_time,
      </if>
      <if test="isabled != null">
        isabled,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="sysWhitelistId != null">
        #{sysWhitelistId,jdbcType=INTEGER},
      </if>
      <if test="phoneNumber != null">
        #{phoneNumber,jdbcType=VARCHAR},
      </if>
      <if test="joinTime != null">
        #{joinTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isabled != null">
        #{isabled,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>

  <update id="updateByExampleSelective" parameterType="map">
    update tbl_sys_whitelist
    <set>
      <if test="record.sysWhitelistId != null">
        sys_whitelist_id = #{record.sysWhitelistId,jdbcType=INTEGER},
      </if>
      <if test="record.phoneNumber != null">
        phone_number = #{record.phoneNumber,jdbcType=VARCHAR},
      </if>
      <if test="record.joinTime != null">
        join_time = #{record.joinTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.isabled != null">
        isabled = #{record.isabled,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update tbl_sys_whitelist
    set sys_whitelist_id = #{record.sysWhitelistId,jdbcType=INTEGER},
      phone_number = #{record.phoneNumber,jdbcType=VARCHAR},
      join_time = #{record.joinTime,jdbcType=TIMESTAMP},
      isabled = #{record.isabled,jdbcType=INTEGER}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.xunyu.xunyu_tactics.pojo.SysWhitelist">
    update tbl_sys_whitelist
    <set>
      <if test="phoneNumber != null">
        phone_number = #{phoneNumber,jdbcType=VARCHAR},
      </if>
      <if test="joinTime != null">
        join_time = #{joinTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isabled != null">
        isabled = #{isabled,jdbcType=INTEGER},
      </if>
    </set>
    where sys_whitelist_id = #{sysWhitelistId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xunyu.xunyu_tactics.pojo.SysWhitelist">
    update tbl_sys_whitelist
    set phone_number = #{phoneNumber,jdbcType=VARCHAR},
      join_time = #{joinTime,jdbcType=TIMESTAMP},
      isabled = #{isabled,jdbcType=INTEGER}
    where sys_whitelist_id = #{sysWhitelistId,jdbcType=INTEGER}
  </update>

  <!-- 以下为自定义sql -->

  <!-- 新增 -->
  <insert id="insertWhitelist" parameterType="com.xunyu.model.tactics.SysWhitelistModel">
    insert into tbl_sys_whitelist ( phone_number,isabled)
    values ( #{phoneNumber,jdbcType=VARCHAR},1)
  </insert>

  <!-- 删除 -->
  <update id="deleteWhitelist" parameterType="com.xunyu.model.tactics.SysWhitelistModel">
    update tbl_sys_whitelist
    set isabled = 0
    where isabled = 1 and
    sys_whitelist_id = #{sysWhitelistId,jdbcType=INTEGER}
    limit 1
  </update>

  <!-- 导入添加 -->
  <insert id="excelInsertWhitelist" parameterType="java.util.List">
    insert into tbl_sys_whitelist  (phone_number,isabled)
    values
    <foreach collection="list" item="item" index="index"  separator=",">
      (#{item.phoneNumber,jdbcType=VARCHAR},1)
    </foreach>
  </insert>
  
  <!-- 查询列表 -->
  <select id="selectWhitelist" parameterType="com.xunyu.model.tactics.SysWhitelistModel" resultMap="BaseResultMap">
    select count(distinct phone_number),sys_whitelist_id, phone_number, join_time, isabled
    from tbl_sys_whitelist
    where isabled = 1
    <if test="phoneNumber != null and phoneNumber != '' ">
      and phone_number like concat('%',#{phoneNumber,jdbcType=VARCHAR},'%')
    </if>
    <if test="startTime != null and startTime != '' ">
      <![CDATA[and join_time >= #{startTime,jdbcType=VARCHAR}]]>
    </if>
    <if test="endTime != null and endTime != '' ">
      <![CDATA[and join_time <= #{endTime,jdbcType=VARCHAR}]]>
    </if>
    group by phone_number
    order by join_time desc
    limit #{offset,jdbcType=INTEGER},#{limit,jdbcType=INTEGER}
  </select>

  <!-- 查询总条数 -->
  <select id="selectTotalRows" parameterType="com.xunyu.model.tactics.SysWhitelistModel" resultType="java.lang.Integer">
    select count(distinct phone_number)
    from tbl_sys_whitelist
    where isabled = 1
    <if test="phoneNumber != null and phoneNumber != '' ">
      and phone_number like concat('%',#{phoneNumber,jdbcType=VARCHAR},'%')
    </if>
    <if test="startTime != null and startTime != '' ">
      <![CDATA[and join_time >= #{startTime,jdbcType=VARCHAR}]]>
    </if>
    <if test="endTime != null and endTime != '' ">
      <![CDATA[and join_time <= #{endTime,jdbcType=VARCHAR}]]>
    </if>
  </select>

  <!-- 批量删除 -->
  <update id="batchDeleteWhitelist" parameterType="java.util.List">
    update tbl_sys_whitelist
    set isabled = 0
    where isabled = 1
    and sys_whitelist_id in
    <foreach collection="idList" item="item" index="index" open="(" close=")" separator=",">
      #{item}
    </foreach>
  </update>
</mapper>