<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xunyu.model.log.http.HttpOperationNotice">

    <resultMap id="http_ResultMap" type="com.xunyu.model.log.http.HttpOperationNotice">
        <id column="notice_id" property="noticeId"></id>
        <result column="opera_time" property="operaTime"></result>
        <result column="node_type" property="nodeType"></result>
        <result column="notice_code" property="noticeCode"></result>
        <result column="notice_state" property="noticeState"></result>
        <result column="handle_state" property="handleState"></result>
        <result column="opera_user" property="operaUser"></result>
    </resultMap>

    <sql id = "http_column">
        notice_id,opera_time,node_type,notice_code,notice_state,handle_state,opera_user
    </sql>

    <select id = "countHttpOperationNotice" parameterType="map" resultType="int">
        select count(1) from http_operation_notice where 1=1 <include refid = "http_where" />
    </select>

    <select id = "listHttpOperationNotice" resultMap="http_ResultMap" parameterType="map">
        select <include refid = "http_column" /> from http_operation_notice
        where 1=1
        <include refid = "http_where" />
        order by notice_id desc
        limit #{startRow},#{endRow}
    </select>

    <sql id = "http_where">
        <if test = 'noticeCode != null and noticeCode !=""'>
            and notice_code = #{noticeCode}
        </if>
        <if test = 'nodeType != null and nodeType !=""'>
            and node_type = #{nodeType}
        </if>
        <if test = 'noticeState != null and noticeState!= ""'>
            and notice_state = #{noticeState}
        </if>
        <if test = 'handleState != null and handleState !=""'>
            and handle_state = #{handleState}
        </if>
        <if test = 'operaUser != null and operaUser != null'>
            and opera_user = #{operaUser}
        </if>
    </sql>

    <delete id = "delHttpOperationNotice" parameterType="list">
        delete from http_operation_notice where notice_id in
        <foreach collection="list" item="items" separator="," open="(" close=")">
            #{items}
        </foreach>
    </delete>
</mapper>