<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xunyu.model.log.syslog.SysLogs">

    <insert id = "addSysLog" parameterType="com.xunyu.model.log.syslog.SysLogs"
            useGeneratedKeys="true" keyColumn="logs_id" keyProperty="logsId">
        insert into sys_logs
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="logsId != null">logs_id,</if>
            <if test='operTime != null'>oper_time,</if>
            <if test='operName != null and operName != ""'>oper_name,</if>
            <if test='operIp != null and operIp != ""'>oper_ip,</if>
            <if test='operType != null and operType != ""'>oper_type,</if>
            <if test='operObj != null and operObj != ""'>oper_obj,</if>
            <if test='enterContact != null and enterContact != ""'>enter_contact,</if>
            <if test='operPort != null and operPort != ""'>oper_port,</if>
            <if test='operText != null and operText != ""'>oper_text,</if>
            <if test='operStatus != null'>oper_status,</if>
        </trim>
        VALUES
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="logsId != null">#{logsId},</if>
            <if test='operTime != null'>#{operTime},</if>
            <if test='operName != null and operName != ""'>#{operName},</if>
            <if test='operIp != null and operIp != ""'>#{operIp},</if>
            <if test='operType != null and operType != ""'>#{operType},</if>
            <if test='operObj != null and operObj != ""'>#{operObj},</if>
            <if test='enterContact != null and enterContact != ""'>#{enterContact},</if>
            <if test='operPort != null and operPort != ""'>#{operPort},</if>
            <if test='operText != null and operText != ""'>#{operText},</if>
            <if test='operStatus != null'>#{operStatus},</if>
        </trim>
    </insert>
</mapper>