<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xunyu.operator.pojo.access.OperExtendConfig">

    <insert id = "saveOperExtend" parameterType="com.xunyu.operator.pojo.access.OperExtendConfig"
            useGeneratedKeys="true" keyColumn="extend_id" keyProperty="extendId">

        insert into tbl_gateway_extend
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="extendId != null">extend_id,</if>
            <if test="configId != null">ex_config_id,</if>
            <if test='chargUser != null'>charg_user,</if>
            <if test='chargType != null'>charg_type,</if>
            <if test='localPort != null and localPort !=""'>local_port,</if>
            <if test='codeFormat != null'>code_format,</if>
            <if test='unsignaFormat != null'>unsigna_format,</if>
            <if test='ascllSupport != null'>ascll_support,</if>
            <if test='ascllLength != null'>ascll_length,</if>
            <if test='lenMsgCode != null'>len_msg_code,</if>
            <if test='maxLength != null'>max_length,</if>
            <if test='isDef != null'>is_def,</if>

        </trim>
        VALUES
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="extendId != null">#{extendId},</if>
            <if test="configId != null">#{configId},</if>
            <if test='chargUser != null'>#{chargUser},</if>
            <if test='chargType != null'>#{chargType},</if>
            <if test='localPort != null and localPort !=""'>#{localPort},</if>
            <if test='codeFormat != null'>#{codeFormat},</if>
            <if test='unsignaFormat != null'>#{unsignaFormat},</if>
            <if test='ascllSupport != null'>#{ascllSupport},</if>
            <if test='ascllLength != null'>#{ascllLength},</if>
            <if test='lenMsgCode != null'>#{lenMsgCode},</if>
            <if test='maxLength != null'>#{maxLength},</if>
            <if test='isDef != null'>#{isDef},</if>

        </trim>
    </insert>

    <update id="updateOperExtend" parameterType="com.xunyu.operator.pojo.access.OperExtendConfig">
        update tbl_gateway_extend
        <set>

            <if test='chargUser != null'>
                <![CDATA[	charg_user = #{chargUser}, ]]>
            </if>
            <if test='chargType != null'>
                <![CDATA[	charg_type = #{chargType}, ]]>
            </if>
            <if test='localPort != null and localPort != ""'>
                <![CDATA[	local_port = #{localPort}, ]]>
            </if>
            <if test='codeFormat != null'>
                <![CDATA[	code_format = #{codeFormat}, ]]>
            </if>
            <if test='unsignaFormat != null'>
                <![CDATA[	unsigna_format = #{unsignaFormat}, ]]>
            </if>
            <if test='ascllSupport != null'>
                <![CDATA[	ascll_support = #{ascllSupport}, ]]>
            </if>
            <if test='ascllLength != null'>
                <![CDATA[	ascll_length = #{ascllLength}, ]]>
            </if>
            <if test='lenMsgCode != null'>
                <![CDATA[	len_msg_code = #{lenMsgCode}, ]]>
            </if>
            <if test='maxLength != null'>
                <![CDATA[	max_length = #{maxLength}, ]]>
            </if>
            <if test='isDef != null'>
                <![CDATA[	is_def = #{isDef}, ]]>
            </if>

        </set>
        <where>
            <if test='configId != null'>
                <![CDATA[	ex_config_id = #{configId} ]]>
            </if>
        </where>
    </update>
</mapper>