<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/base.xml"/>
    <jmxConfigurator/>
    <contextName>diagnosis_server</contextName>
    <property name="log.dir" value="${catalina.base}"/>
    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%date %level [%class:%line] %msg%n</pattern>
            <charset>utf-8</charset>
        </encoder>
    </appender>
    <appender name="xunyu_rolling" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${log.dir}/logs/crm/crm-xunyu.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${log.dir}/logs/crm/crm-%d{yyyy-MM-dd_HH}.%i.log
            </fileNamePattern>
            <maxHistory>15</maxHistory>
            <timeBasedFileNamingAndTriggeringPolicy
                    class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>100MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
        <encoder>
            <pattern>%date %level [%class:%line] %msg%n</pattern>
        </encoder>
    </appender>

    <root level="info">
        <appender-ref ref="console"/>
        <appender-ref ref="xunyu_rolling"/>
    </root>

</configuration>